@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'foundation/mixins/*';
@import 'foundation/reset';
@import 'foundation/color';
@import 'foundation/typography';

#container {
  position: relative;
  min-height: 100vh;
  padding: 2em;
  @include media-breakpoint-up(medium) {
    max-width: 48em;
    padding: 4em;
    margin: 0 auto 0 0;
  }
}

#container-inner {
  // #blog-title をいちばん下に表示するための隙間を空けておく
  padding-bottom: 12em;
}

#blog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  @include media-breakpoint-up(medium) {
    padding: 4em;
  }
}

#blog-title-content {
  display: flex;
  justify-content: space-between;
}

#title {
  > a {
    color: $color-lime;
  }
}

#blog-description {
  color: $color-lime;
  @include media-breakpoint-down(small) {
    display: none;
  }
}

.entry {
  & + & {
    margin-top: 8em;
  }
}

.entry-header {
  position: relative;
  margin-bottom: 2em;
}

.entry-header-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.entry-content {
  text-align: justify;

  p {
    margin: 1em 0;
  }

  ul,
  ol {
    padding: 0 0 0 2em;
    margin: 1em 0;

    li {
      margin: 1em 0;
    }
  }

  ul li {
    list-style-type: disc;

    ul li {
      list-style-type: circle;
    }

    ol li {
      list-style-type: decimal;
    }
  }

  ol li {
    list-style-type: decimal;

    ul li {
      list-style-type: circle;
    }
  }
}

.hatena-asin-detail {
  display: flex;
  max-width: 500px;
  padding: 1.5em;
  border-color: $color-lime;

  > a {
    width: 96px;
    margin-right: 1.5em;
  }

  .hatena-asin-detail-title {
    margin-top: -0.25em;
    margin-bottom: 1em;
    font-weight: normal;
  }

  .hatena-asin-detail-info {
    ul {
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        list-style-type: none;
        font-size: 1.2rem;
      }
    }
  }
}

.pager {
  margin-top: 4em;
  text-align: right;
}

// hidden elements
.entry-date,
.entry-footer,
body.page-entry .pager {
  display: none;
}
